# Dependencies
node_modules/

# Build outputs
build/
dist/
*.min.js
output.css

# Environment files
.env
.env.*

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional development files
*.log
.cache/
coverage/

# Project specific
# Add any large binary assets that shouldn't be in Git
src/img/cards/*.png
src/libs/p5/p5.min.js
/src/dev
/dev
