node_modules/
output.css
dist/
public/
*.log
*.env
.DS_Store             # macOS metadata files
.idea/                # JetBrains IDE config folder
.vscode/              # VSCode settings
tailwind.config.js    # Optional - only if secrets are there
/src/img/dev
package-lock.json
