.gold-text {
    font-family: "Playwrite AU NSW", cursive;
    font-size: 5rem;
    text-align: center;
    margin-top: 2%;
    user-select: none;
    color: gold;
}

.play-card {
    color: white;
}

.play-roulette {
    
}